*{
margin: 0;
padding: 0;    
}
#titulo{
font-family: serif;
color: navy;
margin-left: 7%;    
}
#subtitulo{
font-family: serif;
color: navy;
margin-left: 10%;    
}
fieldset{
border: 0;    
}
body{
background-color: cornflowerblue;
font-family: serif;
font-size: 1em;
color: indigo;
margin-left: 36%;
margin-top: 2%;
justify-content: center;    
}
input,select,textarea,button{
border-radius: 5px;    
}
.campo{
margin-bottom: 1em;    
}
.campo label{
margin-bottom: 0.2em;
color: indigo;
display: block;    
}
fieldset.grupo{
float: left;
margin-right: 1em;    
}
.campo input[type="text"],.campo input[type="email"],.campo select, .campo textarea{
padding: 0.2em;
border: 1px solid black;
box-shadow: 2px 2px 2px purple;
display: block;
}
.campo select option{
padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
background-color: aqua;    
}
.botao{
font-size: 1.2em;
background: aquamarine;
margin-bottom: 1em;
color: darkblue;
padding: 0.2em 0.6em;
box-shadow: 2px 2px 2px cornflowerblue;
text-shadow: 1px 1px 1px black;
position: absolute;
top: 90%;
left: 50%;
right: -50%;
transform: translate(-50%,-50%);
}
.botao :hover{
background: red;
box-shadow:  inset 2px 2px 2px black;
text-shadow: none;    
}
    
.botao, select{
cursor: pointer;    
}